.idea/
*.pyc
*.pt
*.cn
token.txt
tokens.txt
Tools/BoundingBox_Tool/Images/storing_groceries/
Tools/BoundingBox_Tool/jykim/
test/image
*.weights
*.jpg
*.png
*.txt
*.ckpt
*.caffemodel
venv/
.venv/
Tools/BoundingBox_Tool/Images/
Tools/xtioncam_capture/image/*
*.caffemodel
*.pbmm
.DS_Store
Tools/BoundingBox_Tool/Labels/*
Tools/cn_index_mapper/old/*
Tools/cn_index_mapper/new/*
Tools/file_name_mapper/old/*
Tools/file_name_mapper/new/*
